.button-arrow{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000000;
    cursor: pointer;
    margin: 0px 20px;
    transform: translateY(55%);
}
.button-arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 30px;    
    border-left: 25px solid transparent;
    border-right: 25px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: translateX(-15px) translateY(10px);
}
.button-arrow.-right::before{
    transform: rotate(180deg) translateX(-15px) translateY(-10px);;
    
}