.card-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #fff;
    transition: transform 200ms cubic-bezier(0, 3.63, 1, 1);
}
.card-projeto:hover{
    transform: scale(1.1);
}
.card-projeto .img-card{
    height: 245px;
}
.card-projeto.-fl{
    background-color: #7C5E99;
}
.card-projeto.-cc{
    background-color: #4C5B84;
}
.card-projeto .img-card.-av{
    height: 280px;
    width: 280px;
}
