.skills{
    background-color: #F25A70;
    padding-top: 50px;
    text-align: center;
}
.img-skills{
    margin-right: 25px;
    width: 90px;
    height: 80px;
}
.box-skill{
    display: flex;
    width: 430px;
    height: 90px;
}
.box-skill-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}